.overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100vw;

  height: auto;
  z-index: 1;
  pointer-events: none;
}

.root {
  background: linear-gradient(38deg, #ff6ec4, #7873f5);
  height: 100%;
  padding: 40px 4px 4px 70px;
}

.content {
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 308px 1fr;
}
