.root {
  display: flex;
  padding: 0 24px;
  gap: 18px;
  align-items: center;
  height: 100%;

  p {
    margin: 0;
    padding: 0;
  }
}

.navItem {
  border: 0;
  background: transparent;
  display: flex;
  gap: 4px;
  padding: 0;
  /* padding: 4px 8px; */
  align-items: center;
  height: 100%;
}

.currentNav {
  padding-top: 3px;
  border-bottom: 3px solid #213547;
}
