.root {
  display: grid;
  gap: 8px;
  height: 100%;
  font-weight: 500;
  color: #4f565b;
}

.project {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
  margin-top: 18px;

  img {
    border-radius: 3px;
  }

  .projectCont {
    display: grid;
    gap: 8px;
    line-height: 1;
  }

  h2 {
    font-size: 16px;
    word-wrap: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    font-size: 12px;
    color: var(--text-secondary);
  }
}

.header {
  text-transform: uppercase;
  margin-top: 20px;
  padding: 0 14px;
  font-size: 12px;
}

.grayBox {
  background-color: var(--gray-bg);
  border-radius: 12px;
  padding: 8px 0;
}

.gbHeader {
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 12px;
  justify-content: space-between;
  line-height: 1;
  padding-bottom: 8px;

  h3 {
    font-size: 14px;
  }

  p {
    margin-top: 8px;
    font-size: 12px;
    color: var(--text-secondary);
  }
}

.navLink {
  padding: 2px 16px;
  display: flex;
  gap: 4px;
  text-decoration: none;
  font-size: 14px;
  color: inherit;
  margin-bottom: 12px;

  img {
    max-width: 24px;
    max-height: 24px;
  }
}
