.page {
  margin: 0 auto;
  background-color: #f1f1ec;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  min-height: 100%;
}

.field {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid #d5d5cd;
}

.smalBox {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #d5d5cd;
}

.cell {
  display: flex;
  position: relative;
  padding: 2px;
  color: #213547;
  border: 1px solid #d5d5cd;
  background-color: #fafaf4;
  aspect-ratio: 1;
  overflow: hidden;
  transition: background-color 50ms linear;
}

.cellHighLight {
  background-color: #fff;
}

.cellCurrent {
  box-shadow: inset 0 0 0 2px #82e81f;
  border-color: #82e81f;
}

.sameNumber {
  box-shadow: inset 0 0 0 2px #3d74ea;
  border-color: #3d74ea;
}

.cell span {
  margin: auto;
  font-size: 18px;
  line-height: 18px;
}

.candidates {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "c1 c2 c3"
    "c4 c5 c6"
    "c7 c8 c9";
  width: 100%;
  height: 100%;
}

.candidate {
  opacity: 0.6;
  font-size: 10px !important;
  line-height: 9px !important;
}

.numRow {
  display: flex;
  gap: 4px;
  width: 100%;
  justify-content: center;
  margin-top: 12px;
}

.numRow button {
  color: #213547;
  border: 2px solid #d5d5cd;
  background-color: #fafaf4;
  border-radius: 4px;
  height: 40px;
  flex: 1;
}

.puzzleList {
  display: grid;
  margin-top: 24px;
}

.puzzleList h2 {
  text-align: center;
}
