.page {
  display: grid;
  margin: 0 auto;
  background-color: #f1f1ec;
  padding: 16px;
  width: 100%;
  max-width: 400px;
  min-height: 100%;
}

.field {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #d5d5cd;
}

.smalBox {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border: 0.5px solid #d5d5cd;
}

.cell {
  position: relative;
  border: 0.5px solid #d5d5cd;
  background-color: #fff;
  aspect-ratio: 1;
  padding: 0;
  color: #0086ff;
  font-weight: 300;
  font-size: 24px;
  transition: background-color 50ms linear;
}

.cellPuzzle {
  color: #213547;
}

.cellInner {
  border: 1px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 18px;
}

.cellHighLight {
  background-color: #fafaf4;
}

.cellCurrent {
  box-shadow: inset 0 0 0 2px #82e81f;
  border-color: #82e81f;
}

.sameNumber {
  box-shadow: inset 0 0 0 2px #3d74ea;
  border-color: #3d74ea;
}

.candidates {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "c1 c2 c3"
    "c4 c5 c6"
    "c7 c8 c9";
  width: 100%;
  height: 100%;
  padding: 3px;
}

.candidate {
  color: #213547;
  font-weight: 300;
  font-size: 10px !important;
  line-height: 9px !important;
}

.nums {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.numsActions {
  display: grid;
  width: 50px;
  gap: 12px;
  align-content: end;
}

.numRow {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
  width: calc(40 * 3 + 4px);
  height: calc(40 * 3 + 4px);
  border-radius: 12px;
  overflow: hidden;
  background-color: #4f565b;
  padding: 1px;
}

.numRow button {
  border: 0;
  background-color: #fff;
  border-radius: 0;
  font-size: 26px;
  font-weight: 300;
  padding: 0;
  color: #3d74ea;
  width: 40px;
  height: 40px;
  transition: background-color 50ms linear;
}

.numRow .invalid {
  background-color: #edede6;
  color: #648eea;
}

.numRow .done {
  color: #82e81f !important;
}

.numRow .numCandidate {
  color: #1f3141;
}

.puzzleList {
  display: grid;
  margin-top: 24px;
}

.puzzleList h2 {
  text-align: center;
}

.winModal {
  overflow: hidden;

  margin: auto;
  width: max-content;
  height: max-content;
  max-width: 90vw;
  max-height: 90vh;
  border: 2px solid #d5d5cd;
  border-radius: 20px;
  z-index: 10;
}

.winModal::backdrop {
  background-color: rgba(0, 0, 0, 0.49);
}

.winModal[open] {
  display: grid;
}
